################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mmcong96-blip.github.io.slnx/FileContentIndex
/.vs/mmcong96-blip.github.io.slnx/config
/.vs/mmcong96-blip.github.io.slnx/v18
/.vs/slnx.sqlite
